syntax: glob
.idea/vcs.xml
ts3/__pycache__/response.cpython-34.pyc
.idea/.name
.idea/dictionaries/Fabian.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/ts3bot.iml
.idea/workspace.xml
__pycache__/__test_settings__.cpython-34.pyc
__pycache__/reload_test.cpython-34.pyc
ts3/__pycache__/__init__.cpython-34.pyc
ts3/__pycache__/commands.cpython-34.pyc
ts3/__pycache__/common.cpython-34.pyc
ts3/__pycache__/escape.cpython-34.pyc
ts3/__pycache__/filetransfer.cpython-34.pyc
ts3/__pycache__/query.cpython-34.pyc
__test_settings__.py
__conn_settings__.py
bot.log
afk.log
*.log
*.log.*
*.pyc
__pycache__/
ts3/__pycache__/
quotes
