syntax: glob
.bash_history
__conn_settings__.py
bot.log
afk.log
*.log
*.log.*
*.pyc
__pycache__/
ts3/__pycache__/
quotes
main.sh
.viminfo
.selected_editor
.ssh/
.vim/
__conn_settings__.py
bot.log
afk.log
*.log
*.log.*
*.pyc
*__pycache__/
quotes
main.sh
.viminfo
.selected_editor
.ssh/
.vim/
