# https://github.com/Murgeye/teamspeak3-python-api
ts3API[ssh]==0.9.4

# https://github.com/openai/openai-python
openai==0.26.4

# Required for the GitHub workflow "PyLint" and when writing new code.
# Should be pinned to a specific version as newer versions might have new or changed linting rules.
pylint==2.16.4

# Only for fixing this Pylint error: ModuleNotFoundError: No module named 'typing_extensions'
# See https://github.com/Sebi94nbg/teamspeak3-python-bot/actions/runs/3864557425/jobs/6587510172
typing_extensions==4.7.1
